
/node_modules/
/apps/custom.js
/config/help.js
/config/cfg.js
/config/config.yaml
/config/backup.json
/config/backup-default.json
/resources/help/theme/*
!/resources/help/theme/default

TODO.md
.vscode
