{{extend elemLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{_res_path}}/character/stygian-rank-list.css"/>
{{@data.style}}
{{/block}}

{{set talentMap = game === 'sr' ? (data.isMemosprite ? {a: '普攻', e: '战技', t:'天赋', q: '爆发', me: '忆灵技', mt: '忆灵天赋'} : {a: '普攻', e: '战技', t:'天赋', q: '爆发'}) : {a: '普攻', e: '战技', q: '爆发'} }}
{{set gameHash = game === 'gs' ? '#':'*' }}

{{block 'main'}}
<div class="head-box">
  <div class="title">#幽境危战排名</div>
</div>
<div id="profile-stat">

  <div class="cont group-rank-tip {{groupRank?'has-rank':'no-rank'}}">
    <div class="cont-title">
      幽境危战排名说明
    </div>
    <div class="cont-body">
      <ul class="cont-msg">
        <li>
          <strong>幽境危战版本：</strong>
          {{stygianVersion}}
        </li>
        <li>
          <strong>统计周期：</strong>
          {{period?.start}} - {{period?.end}}
        </li>
        <li>
          <strong>数据源：</strong>
          ark-plugin | akasha.cv
        </li>
      </ul>
    </div>
  </div>

  {{each list ds idx}}
  <div class="cont char-list-item">
    {{if !ds.isMax}}
    <div class="char-idx">
      <span class="idx-icon idx-{{idx+1}} mode-{{mode}}">{{idx+1}}</span>
    </div>
    {{/if}}
    <div class="item-icon char-icon star{{ds.star}}">
      {{if ds.qqFace}}
      <span class="img" style="background-image:url({{ds.qqFace}})"></span>
      {{else}}
      <span class="img" style="background-image:url({{_res_path}}{{ds.imgs?.face}})"></span>
      {{/if}}
    </div>
    <div class="char-info char-name">
      <div class="name">
        <strong>{{ds.sName}}</strong>
      </div>
      <div class="info"> {{ds.uid}}</div>
    </div>

    <div class="char-item char-weapon line">
      {{set w = ds.stygianIndex }}
      <div class="item item-icon star5">
        <div class="img" style="background-image:url({{_res_path}}{{w?.img}})"></div>
      </div>
      <div class="char-info weapon-info">
        <div class="name">
          {{w.title}}
        </div>
        <div class="hard">
          {{w.info}}
        </div>
      </div>
    </div>


    {{set mark = ds.artisMark || false }}
    {{set marks = ds._formatmark || false }}
    {{set aImgs = ds?.artisSet?.imgs || []}}
    <div class="char-dmg line">
        {{if ds.stygianTime}}
        <div class="dmg-title">{{ds.stygianTime.title}}</div>
        <div class="dmg-value">{{ds.stygianTime.info}}</div>
        {{else}}
        {{/if}}
    </div>
    <div class="char-dmg line">
      {{if ds.rank_ark}}
      <div class="dmg-title">{{ds.rank_ark.title}}</div>
      <div class="dmg-value">{{ds.rank_ark.info}}</div>
      {{else}}
      {{/if}}   
    </div>
    <div class="char-dmg line">
      {{if ds.rank_akasha}}
      <div class="dmg-title">{{ds.rank_akasha.title}}</div>
      <div class="dmg-value">{{ds.rank_akasha.info}}</div>
      {{else}}
      {{/if}}   
    </div>
  </div>
  {{/each}}
</div>

{{/block}}